.nav {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  }
  
  .navList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navListItem {
    margin-right: 20px;
  }

  .header_con {
    width: 100vw !important;
    background-color: rgba(247, 235, 229, 1);
    padding: 0 27%;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .navListRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
  }
  
  .navListItemRight {
    margin-left: 20px;
  }
  
  .text {
    font-family: 'Proxima';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.79);
  }

  .texta {
    font-family: 'Proxima';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.79);

    &:hover {
      position: relative;
  
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        height: 2px;
        background-color: #FF4D6D;
      }
    }
  }

  .listPlace {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
  }

  .listItemPlace {
    margin-left: 5px;
  }

  .listSocial {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0;
  }

  .listItemSocial{
    padding-top: 4px;
    margin-left: 10px;
  }